main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.message {
  text-transform: uppercase;

  h1 {
    span {
      border-bottom: solid 1px black;
    }
  }

  .tag {
    font-size: 12px;
  }
}